.rocketContainer {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading {
    text-align: left;
    margin-top: -420pt;
    color: white;
    font-size: 28px;
}

.gifContainer {
    display: inline-block;
}

.rocketGif {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 1000pt;
    height: 300pt;
}

.textContainer {
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 10px;
}

.paragraph {
    color: #000;
    font-size: 16px;
}

.subHeading {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

@media (max-width: 400px) {
.rocketGif{
    width: 270pt;
    height: 150pt;
    margin-left: 3%;
}
.heading {
    margin-top: -140pt;
    margin-left: 15pt;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);

}

.paragraph {
    margin-top: -260pt;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);

}

.subHeading {
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
    margin-top: -20pt;
    margin-left: -10pt;
    padding: 12px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);
}



}