.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .buttons-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }
  
  .buttons-container button svg {
    /* margin-bottom: 5px; */
  }
  
  .singlebtn {
    display: block;
  }
  
  span {
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 600px) {
    .buttons-container{
      width: 96%;
        margin-top: 130pt;
    }
    .singlebtn button{
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom:6px;

    }
    .buttons-container button svg {
      width: 24pt;
      height: 24pt;
      /* margin-left: 7pt; */
    }
  
    .buttons-container button span {
        text-align: center;
      font-size: 12px;
    }
  }
  